@font-face {
    font-family: "MontserratCustomfont";
    src: url('/resource/Montserrat/static/Montserrat-Medium.ttf') format('TrueType');
 }
 .customFont{
    font-family: "MontserratCustomfont";
}
.labelCss{
    color: #575757
}
.labelBold{
    font-weight: 900;
}