.shipLineValueCSS{
    padding-right: 12%;
    margin-left: 7%;
  }
  .profitLabel{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "MontserratCustomfont";
    font-size: 24px;
    color: white;
  }
  .buyingRateStyle{
    text-align: center;
    font-family: MontserratCustomfont;
    background: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 7px;
  }
  .sellingRateStyle{
    text-align: center;
    font-family: MontserratCustomfont;
     background: #FFFFFF;
     padding-top: 14px;
     padding-bottom: 14px;
     margin-bottom: 8px;
     border-radius: 7px;
     margin-top: 5px;
  }